{% extends 'layout.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div id="map">
	<div id="map-area"></div>
	<aside id="map-info-overlay" class="map-overlay collapsed">
		<header>
			<h2>Details</h2>
			<button class="hide-overlay-button btn btn-link">Collapse</button>
		</header>

		<section id="map-info-detail">
			<h2 id="map-info-address">Rademarkt</h2>
			<div id="map-info-detail-area" class="widget-area">Small map</div>
		</section>

		<section id="map-info-timechart">
			<!--<a href="#" class="back-button">&lt; Back</a>-->
			<p>Appraisal of 24 hours:</p>
			<div id="map-info-timechart-area"></div>
		</section>
	</aside>

	<aside id="map-filter-overlay" class="map-overlay">
		<header>
			<h2>Filters</h2>
			<button class="hide-overlay-button btn btn-link">Collapse</button>
		</header>

		<section>
			<p>Measurements for date:</p>
			<div id="map-filter-daterange-from"></div>
		</section>
		<!--
		<section>
			<label>Every day from</label>
			<select>
				<option>0:00</option>
				<option>1:00</option>
				<option>2:00</option>
				<option>3:00</option>
				<option>4:00</option>
				<option>5:00</option>
				<option>6:00</option>
				<option>7:00</option>
				<option>8:00</option>
				<option>9:00</option>
				<option>10:00</option>
				<option>11:00</option>
				<option>12:00</option>
				<option>13:00</option>
				<option>14:00</option>
				<option>15:00</option>
				<option>16:00</option>
				<option>17:00</option>
				<option>18:00</option>
				<option>19:00</option>
				<option>20:00</option>
				<option>21:00</option>
				<option>22:00</option>
				<option>23:00</option>
			</select>
			<label>till</label>
			<select>
				<option>0:00</option>
				<option>1:00</option>
				<option>2:00</option>
				<option>3:00</option>
				<option>4:00</option>
				<option>5:00</option>
				<option>6:00</option>
				<option>7:00</option>
				<option>8:00</option>
				<option>9:00</option>
				<option>10:00</option>
				<option>11:00</option>
				<option>12:00</option>
				<option>13:00</option>
				<option>14:00</option>
				<option>15:00</option>
				<option>16:00</option>
				<option>17:00</option>
				<option>18:00</option>
				<option>19:00</option>
				<option>20:00</option>
				<option>21:00</option>
				<option>22:00</option>
				<option selected>23:00</option>
			</select>
		</section>
		-->
	</aside>
</div>

<div id="map-controls" class="row">
	<div class="col-md-6 range-control">
		<div id="range-pleasantness"></div>
		<label for="range-pleasantness">Pleasantness</label>
	</div>
	<div class="col-md-6 range-control">
		<div id="range-eventfulness"></div>
		<label for="range-eventfulness">Eventfulness</label>
	</div>
</div>
{% endblock %}

{% block javascript %}
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDzMAOxgnsUs39RTJn855mMPlYa-JFbRao&amp;sensor=false"></script>
<script src="{% static 'js/color.js' %}"></script>
<script src="{% static 'js/ruben.js' %}"></script>
<script src="{% static 'js/jquery.jqplot.js' %}"></script>
<script src="{% static 'js/jqplot.dateAxisRenderer.js' %}"></script>
<script>
jQuery(function() {
	// Turn the 'sliders' into real jQuery UI sliders.
	$('#range-pleasantness, #range-eventfulness').slider({
		range: true,
		min: 0,
		max: 100,
		values: [0, 100],
		slide: function(event, ui) {
			// update map using ui.values pair
		}
	});

	// When clicking on one of the 'collapse' buttons in the overlays, hide it.
	$('.map-overlay .hide-overlay-button').click(function(e) {
		e.preventDefault();
		$(this).closest('.map-overlay').toggleClass('collapsed');
	});

	// Expand the overlay on the left and fill it with info about the clicked
	// point.
	var showDetails = function(point) {
		$('#map-info-overlay').removeClass('collapsed');

		// Title
		$('#map-info-address').text(point.name);

		// Map
		$('#map-info-detail-area')
			.css('overflow', 'hidden')
			.html($('<img>')
			.attr('width', 259)
			.attr('height', 180)
			.attr('src', 'http://maps.googleapis.com/maps/api/staticmap?'
				+ 'center=' + point.lat + ',' + point.lng
				+ '&markers=color:red%7C' + point.lat + ',' + point.lng
				+ '&zoom=16&size=259x180&scale=2&sensor=false'));

		var plot = $('#map-info-timechart-area').data('jqplot');
		if (plot) plot.destroy();

		// Chart
		$.getJSON('/data/sites/' + point.pk, function(data) {
			var pleasantness = [];
			var eventfulness = [];
			
			$.each(data, function() {
				pleasantness.push([this.timestamp, this.pleasantness]);
				eventfulness.push([this.timestamp, this.eventfulness]);
			});

			var day = new Date(pleasantness[0][0].substring(0, 10));
			
			var plot = $.jqplot('map-info-timechart-area', [pleasantness, eventfulness], {
				grid: {
					shadow: false
				},
				axes: {
					xaxis: {
						renderer: $.jqplot.DateAxisRenderer,
						tickOptions: {formatString:'%#H'},
						min: day.getFullYear() + '-' + (day.getMonth() + 1) + '-' + day.getDate(),
						max: day.getFullYear() + '-' + (day.getMonth() + 1) + '-' + (day.getDate() + 1),
						tickInterval: 2 * 3600
					},
					yaxis: {
						min: 0.0,
						max: 1.0,
						tickOptions: {
							formatString: '%.1f'
						}
					}
				},
				series: [
					{lineWidth: 4, markerOptions: {style: 'square'}},
					{lineWidth: 4, markerOptions: {style: 'diamond'}}
				]
			});

			$('#map-info-timechart-area').data('jqplot', plot);
		});
	};

	// The large map
	var mapOptions = {
		center: new google.maps.LatLng(52.992548, 6.563703),
		zoom: 14
	};

	var map = new google.maps.Map(document.getElementById("map-area"), mapOptions);

	var markers = [];

	var showMarkers = function(url) {
		// Remove old markers
		while (markers.length)
			markers.pop().setMap(null);

		// Download new markers
		$.getJSON(url, function(points) {
			$.each(points, function(i) {
				var point = this;

				var marker = new google.maps.Marker({
					position: new google.maps.LatLng(point.lat, point.lng),
					icon: {
						// Generate a ruben circle at twice the size so it will look
						// smooth on retina displays.
						scaledSize: new google.maps.Size(48, 48),
						url: createRubenCircle(96, point.pleasantness, point.eventfulness)
					},
					shape: {
						// Click shape: center and radius
						coord: [24, 24, 24],
						type: 'circle'
					},
					animation: google.maps.Animation.DROP
				});

				// When a marker is clicked, show the details pane with info about
				// that location.
				marker.addListener('click', function() {
					showDetails(point);
				});

				markers.push(marker);

				// Queue the marker for dropping as soon as the map is loaded
				setTimeout(function() { marker.setMap(map); }, i * 100);
			});
		});
	};

	$('#map-filter-daterange-from').datepicker({
		onSelect: function(event, ui) {
			showMarkers('/data/' + ui.selectedYear + '/' + (ui.selectedMonth + 1) + '/' + ui.selectedDay);
		}
	});

	// If the tiles are loaded (i.e. the map is 'loaded') drop the markers with
	// a small delay. This way they will be 'sprinkled' on the map.
	var listener = google.maps.event.addListener(map, 'tilesloaded', function() {
		// Remove the listener again
		google.maps.event.removeListener(listener);

		// Load today
		var today = new Date();
		showMarkers('/data/' + today.getFullYear() + '/' + (today.getMonth() + 1) + '/' + today.getDate());
	});
});
</script>
{% endblock %}
