{% extends 'layout.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/map.css' %}">
{% endblock %}

{% block content %}
<div id="heatmap-area">
	<div id="color-test"></div>
	<canvas id="circle-canvas" width="1140" height="400">
</div>
{% endblock %}

{% block javascript %}
<script src="{% static 'js/color.js' %}"></script>
<script src="{% static 'js/ruben.js' %}"></script>
<script>
for (var i = 0; i <= 100; ++i)
{
	// Color test (see static/js/color.js)
	var c = getColor(i / 100);

	$('#color-test').append($('<div>').css({
		'height': '3px',
		'background-color': 'rgb(' + c.r + ',' + c.g + ',' + c.b + ')'
	}));
}

// Circle drawing test
var ctx = $('#circle-canvas').get(0).getContext('2d');
var n = 8, offset = 1140 / n;
for (var i = 1; i < n; ++i) {
	// Draw size test
	drawRubenCircle(ctx, offset * i, 100, 50, 0, i/n);


	// Draw color test
	drawRubenCircle(ctx, offset * i, 300, 50, i/n, 0.7);
}


</script>

{% endblock %}
