{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% block title %}SAM{% endblock %}</title>
		<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'css/ui-lightness/jquery-ui-1.10.4.css' %}" rel="stylesheet">
		<link href="{% static 'css/layout.css' %}" rel="stylesheet">
		{% block stylesheet %}{% endblock %}
	</head>
	<body>
		<div class="page">
			{% block header %}
				<header>
					<h1><a href="{% url 'map' %}">SAM</a> <small>Sound Appraisal Map</small></h1>

					{% if user.is_authenticated %}
					<div class="user-widget">
						<span class="username">{{ user.username }}</span>
						<a href="{% url 'logout' %}">Log off</a>
					</div>
					{% endif %}
				</header>
			{% endblock %}

			{% block content %}
			<p>This page has no content.</p>
			{% endblock %}
		</div>

		<script src="{% static 'js/jquery-1.10.2.js' %}"></script>
		<script src="{% static 'js/jquery-ui-1.10.4.js' %}"></script>
		<script src="{% static 'js/bootstrap.js' %}"></script>
		{% block javascript %}{% endblock %}
	</body>
</html>
