header {
	position: relative;
}

header .user-widget {
	position: absolute;
	right: 0;
	bottom: 0;
}

.login-block {
	width: 400px;
}

.login-block p {
	padding: 1em;
}

body > .page {
	margin: 0 20px;
	overflow-x: hidden;
}
