{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="login-block center-block">
		{% if form.errors %}
		<p class="bg-warning">Your username and password didn't match. Please try again.</p>
		{% endif %}

		<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="form">
			<input type="hidden" name="next" value="{{ next }}" />
			{% csrf_token %}
			<table>
				{{ form }}
			</table>

			<div class="control-group">
				<button type="submit" class="btn btn-primary">Log in</button>
			</div>
		</form>
	</div>
</div>

{% endblock %}
