{% extends "layout.html" %}

{% block content %}
<div class="row">
	<div class="login-block center-block">
		<p class="bg-primary">You have been logged out.</p>
		<a href="{% url 'login' %}" class="btn btn-primary">Log back in</a>
	</div>
</div>

{% endblock %}
