#map, #map-controls {
	margin: 20px 0;
}

#map {
	position: relative;
}

#map-area {
	width: 100%;
	min-height: 800px;
	background: #eee;
}

#map-area .olControlAttribution {
	bottom: 1px;
}

#map-controls #pleasantness-slider,
#map-controls #eventfulness-slider {
	padding: 20px;
}

.range-control label {
	display: block;
	text-align: center;
}

#map-info-overlay,
#map-filter-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	transition: left 150ms ease-out, right 150ms ease-out;
}

#map-info-overlay {
	left: 0;
	border-right: 1px solid #ccc;
}

#map-filter-overlay {
	right: 0;
	border-left: 1px solid #ccc;
}

#map-info-overlay.collapsed {
	left: -300px;
}

#map-filter-overlay.collapsed {
	right: -300px;
}

.map-overlay {
	width: 300px;
	padding: 20px;
	overflow: auto;
	background: rgba(255, 255, 255, 0.8);
}

.map-overlay > header,
.map-overlay > section {
	position: relative;
	margin-bottom: 20px;
}

.map-overlay > header {
	margin: -20px -20px 20px -20px;
	border-bottom: 1px solid #ccc;
}

.map-overlay > header > h2 {
	font: 20px/20px sans-serif;
	padding: 20px;
	margin: 0;
}

.map-overlay > header > button {
	position: absolute;
	top: 12px;
	right: 20px;
}

.map-overlay .widget-area {
	background: #ccc;
	min-height: 180px;
	font: 20px/180px sans-serif;
	color: #777;
	text-align: center;
}

.map-overlay section .back-button {
	position: absolute;
	top: 10px;
	left: 10px;
}

#map-info-timechart-area {
	height: 180px;
}